
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
@import '@fontsource-variable/yrsa';
@import '@fontsource/ubuntu';

.contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.imagen{
    width: 100%;
    background-image: url("../../assets/fondo.jpg");
    background-size: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Noto Serif";
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}
.fideos{
    padding-top: 10%;
    width: 55%;
    animation: slide-in 2s ease;
}
.botoncompra{
    background-color:var(--bg-color1);
    display: flex;
    justify-content: center;
    padding: 5%;
}
.boton{
    padding: 0.5em 2em;
    font-size: 25px;
    background: var(--colorfondo);
    border-radius: 8px;
    font-family: 'Yrsa Variable', serif;
    font-weight: 700;
    color: aliceblue;
}
.ceo{
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color1);
    
}
.imagenceo{
    background-image: url("../../assets/ceo.jpg");
    min-width: 50%;
    height: 50rem;
    background-size: 100%;
    background-repeat: no-repeat;
} 
.textceo{
    width: 50%;
    height: 100%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:justify;
    font-size: 20px;
    border: 3px solid rgb(190, 190, 190);
    margin: 7% 5%;
    border-style:dashed;
    font-family: 'Ubuntu', sans-serif;
    transition: all .3s;
    color: rgb(78, 36, 36);
}
.textceo:hover{
    border-color: rgb(49, 33, 33);
}
.titleceo{
    display: flex;
    justify-content: center;
    padding: 3%;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(78, 36, 36);
}
.fundador{
    color: var(--bg-color)
}

.descripcionpasta{
    width: 50%;
}
.pasta{
    background-image: url("../../assets/platoyfideos.jpg");
    min-width: 50%;
    height: 50rem;
    background-size: 100%;
    background-repeat: no-repeat;
}
.pastasgeneral{
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color1);
}

.cardproducto{
    width: 50%;
}


@keyframes slide-in {
    from{
        transform: translateY(50vW);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 930px) {
    .ceo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .textceo{
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 5% 5%;
    }
    .pastasgeneral{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .imagenceo{
        min-width: 25%;
        height: 25rem;
    }
    .pasta{
        min-width: 25%;
        height: 25rem;
        order: 1;
    }
    .cardproducto{
        width: 100%;
        order: 2;
    }
    

  }
