@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Russo+One&display=swap');


.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 20px;
    background: var(--fondo-negro);
}
.logo{
    height: 100px;
}

.titles{

    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    color: var(--bg-color);
    font-size: 20px;
    font-family: "Russo One";
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.08em;
}
a{
    text-decoration: none;
    color: var(--bg-color);
    border-color: var(--bg-color2);
    transition: all .3s;
}
a:hover{
    color: var(--bg-color2);
}
.links{
    text-decoration: none;
    color: var(--bg-color);
    border-color: var(--bg-color2);
    transition: all .1s;
}

.links:hover{
    color: var(--bg-color2);
    border-bottom: 4px solid var(--bg-color);
}

.abrirmenu {
    display: none;
}
.cerrarmenu{
    display: none;
}

@media screen and (max-width: 812px) {
    .abrirmenu{
        display: block;
        cursor: pointer;
    }
    .titles{
        display: none;
    }
    .titles{
        position: absolute;
        flex-direction: column;
        align-items: end;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: end;
        background-color: #000;
        box-shadow: 0 0 0 100vmax rgba(0,0, 0,.5);
        opacity: 0;
        visibility: hidden;
    }
    .titles.visible{
        opacity: 1;
        visibility: visible;
    }
    
}